<ion-header>
  <ion-toolbar>
    <ion-title>
      Add Task
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <form id="trackerForm">
    <ion-list>
      <ion-list-header>
        Track a task
      </ion-list-header>
      <ion-item>
        <ion-input name="taskName" placeholder="Enter name of task" type="text"></ion-input>
      </ion-item>
      <ion-button expand="full" color="primary" *ngIf="!started" (click)="addTask()">Start</ion-button>
     
    </ion-list>
  </form>

</ion-content>
